In [1]:
import numpy as np
import pandas as pd

In [14]:
churn_data = pd.read_csv(r'C:\Documents\DS Bootcamp\Projekt\Data\Telecom_customer churn.csv')
churn_data.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [18]:
churn_data.describe()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,models,truck,rv,lor,adults,income,numbcars,forgntvl,eqpdays,Customer_ID
count,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99643.000000,99109.000000,...,99999.000000,98268.000000,98268.000000,69810.000000,76981.000000,74564.000000,50634.000000,98268.000000,99999.000000,1.000000e+05
mean,58.719985,513.559937,46.179136,0.888828,41.072247,13.559560,13.295062,0.261318,1.286405,-13.933818,...,1.545825,0.188820,0.082580,6.177238,2.530326,5.783112,1.567563,0.057974,391.932309,1.050000e+06
std,46.291677,525.168140,23.623489,2.177619,97.296150,30.500885,30.056089,3.126531,14.711374,276.087509,...,0.898395,0.391368,0.275248,4.735267,1.452819,2.182132,0.625456,0.233696,256.482193,2.886766e+04
min,-6.167500,0.000000,-26.915000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3875.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,-5.000000,1.000001e+06
25%,33.260000,150.750000,30.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-87.000000,...,1.000000,0.000000,0.000000,2.000000,1.000000,4.000000,1.000000,0.000000,212.000000,1.025001e+06
50%,48.195000,355.500000,44.990000,0.247500,2.750000,1.000000,0.682500,0.000000,0.000000,-6.250000,...,1.000000,0.000000,0.000000,5.000000,2.000000,6.000000,1.000000,0.000000,342.000000,1.050000e+06
75%,70.750000,703.000000,59.990000,0.990000,42.000000,14.437500,14.025000,0.000000,0.235000,63.000000,...,2.000000,0.000000,0.000000,9.000000,3.000000,7.000000,2.000000,0.000000,530.000000,1.075000e+06
max,3843.262500,12206.750000,409.990000,159.390000,4320.750000,1102.400000,896.087500,423.540000,3685.200000,31219.250000,...,16.000000,1.000000,1.000000,15.000000,6.000000,9.000000,3.000000,1.000000,1823.000000,1.100000e+06

In [23]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 100 columns):
rev_Mean            99643 non-null float64
mou_Mean            99643 non-null float64
totmrc_Mean         99643 non-null float64
da_Mean             99643 non-null float64
ovrmou_Mean         99643 non-null float64
ovrrev_Mean         99643 non-null float64
vceovr_Mean         99643 non-null float64
datovr_Mean         99643 non-null float64
roam_Mean           99643 non-null float64
change_mou          99109 non-null float64
change_rev          99109 non-null float64
drop_vce_Mean       100000 non-null float64
drop_dat_Mean       100000 non-null float64
blck_vce_Mean       100000 non-null float64
blck_dat_Mean       100000 non-null float64
unan_vce_Mean       100000 non-null float64
unan_dat_Mean       100000 non-null float64
plcd_vce_Mean       100000 non-null float64
plcd_dat_Mean       100000 non-null float64
recv_vce_Mean       100000 non-null float64
recv_sms_Mean       100000 non-null float64
comp_vce_Mean       100000 non-null float64
comp_dat_Mean       100000 non-null float64
custcare_Mean       100000 non-null float64
ccrndmou_Mean       100000 non-null float64
cc_mou_Mean         100000 non-null float64
inonemin_Mean       100000 non-null float64
threeway_Mean       100000 non-null float64
mou_cvce_Mean       100000 non-null float64
mou_cdat_Mean       100000 non-null float64
mou_rvce_Mean       100000 non-null float64
owylis_vce_Mean     100000 non-null float64
mouowylisv_Mean     100000 non-null float64
iwylis_vce_Mean     100000 non-null float64
mouiwylisv_Mean     100000 non-null float64
peak_vce_Mean       100000 non-null float64
peak_dat_Mean       100000 non-null float64
mou_peav_Mean       100000 non-null float64
mou_pead_Mean       100000 non-null float64
opk_vce_Mean        100000 non-null float64
opk_dat_Mean        100000 non-null float64
mou_opkv_Mean       100000 non-null float64
mou_opkd_Mean       100000 non-null float64
drop_blk_Mean       100000 non-null float64
attempt_Mean        100000 non-null float64
complete_Mean       100000 non-null float64
callfwdv_Mean       100000 non-null float64
callwait_Mean       100000 non-null float64
churn               100000 non-null int64
months              100000 non-null int64
uniqsubs            100000 non-null int64
actvsubs            100000 non-null int64
new_cell            100000 non-null object
crclscod            100000 non-null object
asl_flag            100000 non-null object
totcalls            100000 non-null int64
totmou              100000 non-null float64
totrev              100000 non-null float64
adjrev              100000 non-null float64
adjmou              100000 non-null float64
adjqty              100000 non-null int64
avgrev              100000 non-null float64
avgmou              100000 non-null float64
avgqty              100000 non-null float64
avg3mou             100000 non-null int64
avg3qty             100000 non-null int64
avg3rev             100000 non-null int64
avg6mou             97161 non-null float64
avg6qty             97161 non-null float64
avg6rev             97161 non-null float64
prizm_social_one    92612 non-null object
area                99960 non-null object
dualband            99999 non-null object
refurb_new          99999 non-null object
hnd_price           99153 non-null float64
phones              99999 non-null float64
models              99999 non-null float64
hnd_webcap          89811 non-null object
truck               98268 non-null float64
rv                  98268 non-null float64
ownrent             66294 non-null object
lor                 69810 non-null float64
dwlltype            68091 non-null object
marital             98268 non-null object
adults              76981 non-null float64
infobase            77921 non-null object
income              74564 non-null float64
numbcars            50634 non-null float64
HHstatin            62077 non-null object
dwllsize            61692 non-null object
forgntvl            98268 non-null float64
ethnic              98268 non-null object
kid0_2              98268 non-null object
kid3_5              98268 non-null object
kid6_10             98268 non-null object
kid11_15            98268 non-null object
kid16_17            98268 non-null object
creditcd            98268 non-null object
eqpdays             99999 non-null float64
Customer_ID         100000 non-null int64
dtypes: float64(69), int64(10), object(21)
memory usage: 76.3+ MB

In [127]:
cols = pd.read_csv('C:\Documents\DS Bootcamp\Projekt\Data\Telecom_customer churn columns.csv', header=None)

In [128]:
columns_tab = pd.DataFrame(columns=["Data_type", "Column_name", "Column_description"])
columns_tab

Empty DataFrame
Columns: [Data_type, Column_name, Column_description]
Index: []

In [195]:
#every third row corrsponds with column names in columns_tab
columns_tab.Data_type = pd.Series(cols[0][cols.index%3==0].values)
columns_tab.Column_name = pd.Series(cols[0][cols.index%3==1].values)
columns_tab.Column_description = pd.Series(cols[0][cols.index%3==2].values)
columns_tab

,Data_type,Column_name,Column_description
0,Numeric,rev_Mean,Mean monthly revenue (charge amount)
1,Numeric,mou_Mean,Mean number of monthly minutes of use
2,Numeric,totmrc_Mean,Mean total monthly recurring charge
3,Numeric,da_Mean,Mean number of directory assisted calls
4,Numeric,ovrmou_Mean,Mean overage minutes of use
5,Numeric,ovrrev_Mean,Mean overage revenue
6,Numeric,vceovr_Mean,Mean revenue of voice overage
7,Numeric,datovr_Mean,Mean revenue of data overage
8,Numeric,roam_Mean,Mean number of roaming calls
9,Numeric,change_mou,Percentage change in monthly minutes of use vs...
10,Numeric,change_rev,Percentage change in monthly revenue vs previ...
11,Numeric,drop_vce_Mean,Mean number of dropped (failed) voice calls
12,Numeric,drop_dat_Mean,Mean number of dropped (failed) data calls
13,Numeric,blck_vce_Mean,Mean number of blocked (failed) voice calls
14,Numeric,blck_dat_Mean,Mean number of blocked (failed) data calls
15,Numeric,unan_vce_Mean,Mean number of unanswered voice calls
16,Numeric,unan_dat_Mean,Mean number of unanswered data calls
17,Numeric,plcd_vce_Mean,Mean number of attempted voice calls placed
18,Numeric,plcd_dat_Mean,Mean number of attempted data calls placed
19,Numeric,recv_vce_Mean,Mean number of received voice calls
20,Numeric,recv_sms_Mean,N
21,Numeric,comp_vce_Mean,Mean number of completed voice calls
22,Numeric,comp_dat_Mean,Mean number of completed data calls
23,Numeric,custcare_Mean,Mean number of customer care calls
24,Numeric,ccrndmou_Mean,Mean rounded minutes of use of customer care c...
25,Numeric,cc_mou_Mean,Mean unrounded minutes of use of customer care...
26,Numeric,inonemin_Mean,Mean number of inbound calls less than one minute
27,Numeric,threeway_Mean,Mean number of three way calls
28,Numeric,mou_cvce_Mean,Mean unrounded minutes of use of completed voi...
29,Numeric,mou_cdat_Mean,Mean unrounded minutes of use of completed dat...
...,...,...,...
70,String,prizm_social_one,Social group letter only
71,String,area,Geogrpahic area
72,String,dualband,Dualband
73,String,refurb_new,Handset: refurbished or new
74,Numeric,hnd_price,Current handset price
75,Numeric,phones,Number of handsets issued
76,Numeric,models,Number of models issued
77,String,hnd_webcap,Handset web capability
78,Numeric,truck,Truck indicator
79,Numeric,rv,RV indicator
80,String,ownrent,Home owner/renter status
81,Numeric,lor,Length of residence
82,String,dwlltype,Dwelling Unit type
83,String,marital,Marital Status
84,Numeric,adults,Number of adults in household
85,String,infobase,InfoBase match
86,Numeric,income,Estimated income
87,Numeric,numbcars,Known number of vehicles
88,String,HHstatin,Premier household status indicator
89,String,dwllsize,Dwelling size
90,Numeric,forgntvl,Foreign travel dummy variable
91,String,ethnic,Ethnicity roll-up code
92,String,kid0_2,Child 0 - 2 years of age in household
93,String,kid3_5,Child 3 - 5 years of age in household
94,String,kid6_10,Child 6 - 10 years of age in household
95,String,kid11_15,Child 11 - 15 years of age in household
96,String,kid16_17,Child 16 - 17 years of age in household
97,String,creditcd,Credit card indicator
98,Numeric,eqpdays,Number of days (age) of current equipment
99,Numeric,Customer_ID,N

## Data analysis

There are 100 variables in the Dataset. It would be nice to determine if the data make sanse in terms of further churn prediction. Let's start with missing values and outliers.
Charts and statistict seem to be the best ways to start with

In [166]:
churn_data.income.isna().sum() #.agg("count")

25436

Values definitly need to be scaled

In [211]:
nan_info = pd.DataFrame(columns=["Column_name", "Sum_NaN", "NaN_ratio", "Data_type"], data=[[x, churn_data[x].isna().sum(), (churn_data[x].isna().sum() / len(churn_data[x]) * 100), churn_data[x].dtypes] for x in churn_data.columns])
nan_info[nan_info["NaN_ratio"]>00].sort_values(by=["NaN_ratio"], ascending=False)

         Column_name  Sum_NaN  NaN_ratio Data_type
87          numbcars    49366     49.366   float64
89          dwllsize    38308     38.308    object
88          HHstatin    37923     37.923    object
80           ownrent    33706     33.706    object
82          dwlltype    31909     31.909    object
81               lor    30190     30.190   float64
86            income    25436     25.436   float64
84            adults    23019     23.019   float64
85          infobase    22079     22.079    object
77        hnd_webcap    10189     10.189    object
70  prizm_social_one     7388      7.388    object
67           avg6mou     2839      2.839   float64
69           avg6rev     2839      2.839   float64
68           avg6qty     2839      2.839   float64
94           kid6_10     1732      1.732    object
97          creditcd     1732      1.732    object
96          kid16_17     1732      1.732    object
95          kid11_15     1732      1.732    object
79                rv     1732      1.732   float64
78             truck     1732      1.732   float64
92            kid0_2     1732      1.732    object
93            kid3_5     1732      1.732    object
91            ethnic     1732      1.732    object
90          forgntvl     1732      1.732   float64
83           marital     1732      1.732    object
9         change_mou      891      0.891   float64
10        change_rev      891      0.891   float64
74         hnd_price      847      0.847   float64
0           rev_Mean      357      0.357   float64
1           mou_Mean      357      0.357   float64
8          roam_Mean      357      0.357   float64
7        datovr_Mean      357      0.357   float64
6        vceovr_Mean      357      0.357   float64
5        ovrrev_Mean      357      0.357   float64
4        ovrmou_Mean      357      0.357   float64
3            da_Mean      357      0.357   float64
2        totmrc_Mean      357      0.357   float64
71              area       40      0.040    object
76            models        1      0.001   float64
75            phones        1      0.001   float64
73        refurb_new        1      0.001    object
72          dualband        1      0.001    object
98           eqpdays        1      0.001   float64

In [218]:
# yes, I know I could use info() method, but following solution but the following is more readable
data_stats = pd.merge(left=nan_info, right=columns_tab, left_on=["Column_name"], right_on=["Column_name"]).sort_values(by=["NaN_ratio"], ascending=False)
data_stats
# data_stats[data_stats["Column_name"]=="churn"]

,Column_name,Sum_NaN,NaN_ratio,Data_type_x,Data_type_y,Column_description
87,numbcars,49366,49.366,float64,Numeric,Known number of vehicles
89,dwllsize,38308,38.308,object,String,Dwelling size
88,HHstatin,37923,37.923,object,String,Premier household status indicator
80,ownrent,33706,33.706,object,String,Home owner/renter status
82,dwlltype,31909,31.909,object,String,Dwelling Unit type
81,lor,30190,30.190,float64,Numeric,Length of residence
86,income,25436,25.436,float64,Numeric,Estimated income
84,adults,23019,23.019,float64,Numeric,Number of adults in household
85,infobase,22079,22.079,object,String,InfoBase match
77,hnd_webcap,10189,10.189,object,String,Handset web capability
70,prizm_social_one,7388,7.388,object,String,Social group letter only
69,avg6rev,2839,2.839,float64,Numeric,Average monthly revenue over the previous six ...
67,avg6mou,2839,2.839,float64,Numeric,Average monthly minutes of use over the previo...
68,avg6qty,2839,2.839,float64,Numeric,Average monthly number of calls over the previ...
91,ethnic,1732,1.732,object,String,Ethnicity roll-up code
79,rv,1732,1.732,float64,Numeric,RV indicator
83,marital,1732,1.732,object,String,Marital Status
90,forgntvl,1732,1.732,float64,Numeric,Foreign travel dummy variable
92,kid0_2,1732,1.732,object,String,Child 0 - 2 years of age in household
93,kid3_5,1732,1.732,object,String,Child 3 - 5 years of age in household
94,kid6_10,1732,1.732,object,String,Child 6 - 10 years of age in household
96,kid16_17,1732,1.732,object,String,Child 16 - 17 years of age in household
97,creditcd,1732,1.732,object,String,Credit card indicator
78,truck,1732,1.732,float64,Numeric,Truck indicator
95,kid11_15,1732,1.732,object,String,Child 11 - 15 years of age in household
10,change_rev,891,0.891,float64,Numeric,Percentage change in monthly revenue vs previ...
9,change_mou,891,0.891,float64,Numeric,Percentage change in monthly minutes of use vs...
74,hnd_price,847,0.847,float64,Numeric,Current handset price
1,mou_Mean,357,0.357,float64,Numeric,Mean number of monthly minutes of use
0,rev_Mean,357,0.357,float64,Numeric,Mean monthly revenue (charge amount)
...,...,...,...,...,...,...
17,plcd_vce_Mean,0,0.000,float64,Numeric,Mean number of attempted voice calls placed
16,unan_dat_Mean,0,0.000,float64,Numeric,Mean number of unanswered data calls
15,unan_vce_Mean,0,0.000,float64,Numeric,Mean number of unanswered voice calls
14,blck_dat_Mean,0,0.000,float64,Numeric,Mean number of blocked (failed) data calls
13,blck_vce_Mean,0,0.000,float64,Numeric,Mean number of blocked (failed) voice calls
12,drop_dat_Mean,0,0.000,float64,Numeric,Mean number of dropped (failed) data calls
11,drop_vce_Mean,0,0.000,float64,Numeric,Mean number of dropped (failed) voice calls
30,mou_rvce_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of received voic...
31,owylis_vce_Mean,0,0.000,float64,Numeric,Mean number of outbound wireless to wireless v...
32,mouowylisv_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of outbound wire...
43,drop_blk_Mean,0,0.000,float64,Numeric,Mean number of dropped or blocked calls
52,new_cell,0,0.000,object,String,New cell phone user
51,actvsubs,0,0.000,int64,Numeric,Number of active subscribers in household
49,months,0,0.000,int64,Numeric,Total number of months in service
48,churn,0,0.000,int64,Numeric,Instance of churn between 31-60 days after obs...
47,callwait_Mean,0,0.000,float64,Numeric,Mean number of call waiting calls
46,callfwdv_Mean,0,0.000,float64,Numeric,Mean number of call forwarding calls
45,complete_Mean,0,0.000,float64,Numeric,Mean number of completed calls
44,attempt_Mean,0,0.000,float64,Numeric,Mean number of attempted calls
42,mou_opkd_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of off-peak data...
33,iwylis_vce_Mean,0,0.000,float64,Numeric,N
41,mou_opkv_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of off-peak voic...
40,opk_dat_Mean,0,0.000,float64,Numeric,Mean number of off-peak data calls
39,opk_vce_Mean,0,0.000,float64,Numeric,Mean number of off-peak voice calls
38,mou_pead_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of peak data calls
37,mou_peav_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of peak voice calls
36,peak_dat_Mean,0,0.000,float64,Numeric,Mean number of peak data calls
35,peak_vce_Mean,0,0.000,float64,Numeric,Mean number of inbound and outbound peak voice...
34,mouiwylisv_Mean,0,0.000,float64,Numeric,Mean unrounded minutes of use of inbound wirel...
99,Customer_ID,0,0.000,int64,Numeric,N

Not bad as it goes for missing data :) There are though variables where more than 20% of data are missing, but never more than a half. Let's do the following:
1. In the first solution we'll try to impute the missing data (mean for numbers and most common for categorical)
2. In the second solution we'll remove all variables, where more than 20% of data are missing. All other will be imputed the same way as mentioned above

Now let's look at some charts to find any outliers...